In [4]:
import pandas as pd

df = pd.DataFrame([
    ('Ch 1', 'S 1.1', 3.0, 4.0, 4, 2),
    ('Ch 1', 'S 1.2', 3.0, 1.0, 4, 3),
    ('Ch 1', 'S 1.3', 3.0, 5.0, 4, 4),
    ('Ch 2', 'S 2.1', 2.0, 2.0, 4, 3),
], columns=['chapter_title', 'section_title', 'chapter_mastery', 'section_mastery', 'chapter_attempts', 'section_attempts'])

chapter_df = df.loc[:, ['chapter_title', 'section_title', 'chapter_mastery', 'chapter_attempts']]
chapter_df = chapter_df.rename(columns={'chapter_mastery': 'mastery', 'chapter_attempts': 'attempts'})
chapter_df = chapter_df.groupby('chapter_title').first().reset_index()
chapter_df.loc[:, 'section_title'] = ''

rows = []
for name, group in df.groupby(['chapter_title']):
    idx = chapter_df.chapter_title.eq(name).idxmax()   
    rows.append(chapter_df.iloc[idx].values.tolist())
    rows.extend(group.loc[:, ['chapter_title', 'section_title', 'section_mastery', 'section_attempts']].values.tolist())

book_df = pd.DataFrame(rows, columns=['chapter_title', 'section_title', 'mastery', 'attempts'])
book_df = book_df.set_index(['chapter_title', 'section_title'])
book_df

                             mastery  attempts
chapter_title section_title
Ch 1                             3.0         4
              S 1.1              4.0         2
              S 1.2              1.0         3
              S 1.3              5.0         4
Ch 2                             2.0         4
              S 2.1              2.0         3